
#header {
  background-color: rgba(255,255,255,0.9);
  clear: both;
  position: absolute;
  width: 100%;



}
.show-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  display: block;
  visibility: hidden;

  &.show{
    visibility: visible;
  }
  nav{

    img{
      width: 197px;
      height: 117px;
      position: relative;
      left: 199px;
    }
    .nav{
      position: relative;
      right: 10%;
      top: 38px;
      a {
        color: #2196F3;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      a.active {
        color: #000;
        text-decoration: underline;
      }
    }
    a{
      font-size: 22px;
      color: #2196f3;
    }
  }
  .navbar-default{
    background-color: rgba(248, 248, 248, 0.67);

  }

}

#section-1{
  background: url("/../../../images/bgg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 974px;


    .nav-header{
      display: table;
      text-align: center;
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 55px;

      ul li{
        float: left;
        font-size: 15px;
        margin-right: 7px;

        a{
          font-family: "Arial Black";
          background: transparent;

        }
      :hover{
        color: white;
      }
      }
    }

}

.logo-index{
  height: 140px;
  margin-top: 248px;
  text-align: center;
  img{
    width: 308px;
    height: 120px;
  }
}


#section-2{
  background: url("/../../../images/bgg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 974px;


  .jssorb05 {
    position: absolute;
  }
  .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;

    width: 16px;
    height: 16px;
    background: url('../../../images/imgslide/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
  }
  .jssorb05 div { background-position: -7px -7px; }
  .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
  .jssorb05 .av { background-position: -67px -7px; }
  .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }


  .jssora12l, .jssora12r {
    display: block;
    position: absolute;

    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../../../images/imgslide/a12.png') no-repeat;
    overflow: hidden;
  }
  .jssora12l { background-position: -16px -37px; }
  .jssora12r { background-position: -75px -37px; }
  .jssora12l:hover { background-position: -136px -37px; }
  .jssora12r:hover { background-position: -195px -37px; }
  .jssora12l.jssora12ldn { background-position: -256px -37px; }
  .jssora12r.jssora12rdn { background-position: -315px -37px; }
  .sec2-text{
    h2{
      line-height: 1.6;
      font-size: 2.6em;
      font-weight: 300;

      color: white;
      padding:0 0 1em 0;
    }
    line-height: 1.6;
    font-size: 2em;
    font-weight: 300;
    float: left;
    color: white;
    padding:0 0 1em 0;
  }

}
#section-3{
  background: url("../../../images/blue-space-backgrounds-17.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 974px;
  padding-top: 255px;
  h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5em;
    font-weight: lighter;
    padding:1em 0 1em 0;
    color: $white;
  }
  p{
    line-height: 1;
    font-size: 16px;
    font-weight: 300;
    float: left;
    color: $white;
    padding:0 0 1.5em 0;
    letter-spacing: 1px;
  }
  .action{
    margin:1em 0 1.5em 0;
  }
}

#section-4 {
  
  background: url("../../../images/iphone-space-wallpaper10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 974px;
  padding-top: 255px;

  .clear {clear: both;}

  /* Buttons */
  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 40px;
    color: rgba(255,255,255, 0.95);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    outline: 0;
    transition: all 0.1s ease-in;
  }

  .btn-transparent {background: rgba(0,0,0, 0.2);}
  .btn-transparent:hover {background: rgba(0,0,0, 0.4);}

  /* Separators */
  .separator {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 5px;
  }

  /* 02. FONT FACE ============================================ */

  @font-face {
    font-family: 'norwester';
    src: url('../../../fonts/norwester/norwester.eot');
    src: url('../../../fonts/norwester/norwester.eot?iefix') format('embedded-opentype'),
    url('../../../fonts/norwester/norwester.ttf');
    font-weight: normal;
  }

  /* 03. SPEAKERS SETTINGS ============================================ */

  #section-4 {
    padding: 60px 0;
    background: #4593e3;
    text-align: center;
  }

   h2 {
     text-align: center;
    padding: 20px 0 60px;
    color: rgba(0, 0, 0, 0.85);
    font-family: 'Open Sans', sans-serif;
     font-size: 52px;
    letter-spacing: 0.2px;
  }

   h3 {
    padding: 0 0 15px;
    font-family: 'norwester';
    font-size: 36px;
    text-transform: uppercase;
  }

  h4  {
    margin-top: -20px;
    font-size: 32px;
    font-weight: 700;
    color: black;

  }
  h4:hover{
    color: white;

  }

   h4 span {
    display: block;
    position: relative;
    left: -40px;
     top: 3px;
    font-size: 20px;
    background: none;
    padding: 0;
  }

   img {
    width: 100%;
    max-width: 240px;
    border-radius: 50%;
    border: 15px solid transparent;
    box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
    transition: all 0.1s ease-in;
  }

   img:hover {
    border: 15px solid #3980C9;
    position: relative;
    z-index: 10;
    transition: all 0.1s ease-in;
  }

   span {
    padding: 8px 20px;
    position: relative;
     top: -68px;
     left: 33px;
    display: inline-block;
    background: #042867;
    border-radius: 0 16px 16px 0;
    font-size: 15px;
  }

  /* Member Image Hover Effect */
  .hover_img {
    display: none
  }

  .member-profile:hover .unhover_img{
    display: none;

  }

  .member-profile:hover .hover_img {
    display: block;

  }

  /* Social Networks Meta */
   li {display: inline-block; padding: 0 6px; font-size: 18px; visibility: hidden;}
   li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
    li a:hover {color: rgba(0,0,0, 0.7);}

  /* Rows Optimization */
  .row2 {
    display: none;
  }

  .row1 .col-md-3, .row2 .col-md-3 {
    padding-bottom: 40px;
  }

  /* Mobile Devices Optimization */
  @media (min-width: 568px) and (max-width: 992px) {

    .row1 .col-md-3, .row2 .col-md-3 {
      display: inline-block;
      max-width: 50%;
    }

    img {
      max-width: 300px;
    }
  }



  }
#section-5{
  background: url("../../../images/HD Space wallpaper 1920x1080 1 - hebus.org - High Definition ....jpg");
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: top center;
  width: 100%;
  min-height: 10em;
  h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5em;
    font-weight: lighter;
    padding:1em 0 1em 0;
    color: #1438da;
  }
  .input-custom{
    border: 2px solid $black;
  }
  .btn-custom{
    border: 2px solid $black;
    color: $black;
    margin: 1em 0;
  }
}
#footer{
  background: url("../../../images/HD Space wallpaper 1920x1080 1 - hebus.org - High Definition ....jpg");
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: top center;
  width: 100%;
  min-height: 10em;
  h2{
    font-size: 2em;
    font-family: 'lato', sans-serif;
    font-weight:bold;
    color: #FFFFFF;
    padding:1em 0 0 0;
    text-transform: uppercase;
  }
  p{
    color: $white;
  }
  .social-list{
    padding:0;
    list-style: none;
    li{
      width: 50px;
      height: 50px;
      border-radius:50% ;
      border: 2px solid $white;
      background: transparent;
      margin: 1em 0 1em 0.8em;
      display: inline-block;
      i{
        font-size: 3em;
        padding: 0.3em;
        color: $white;
      }
      &:hover,&:focus, &:active{
        background: $white;
        i{
          color: $black;
        }
      }
    }
  }
  small{
    color: $white;
    display: block;
    padding: 1.5em 0 1.5em 0;


  }
}



